<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">
    
    <resultMap type="ItemRentado" id="ItemRentadoResult">
        
        <id column="id" property="id"/>
        <result column="fecha" property="fecha"/>
        <result column="fechafinrenta" property="fechafinrenta"/>
        <collection property='item' ofType='item' columnPrefix='item_' resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"></collection>
        
    </resultMap> 
    
    <insert parameterType="map" id="insertarTipoItem">
        inset into VI_ITEMRENTADO(id,clientes,ITEMS_id,fechainiciorenta,fechafinrenta) values (#{irid.id},#{irid.clientes},#{irid.ITEMS_id},#{irid.fechainiciorenta},#{irid.fechafinrenta})
    </insert>
    <select parameterType="map" id="consultarItemRentado" resultMap="ItemRentadoResult">
        select * from VI_ITEMRENTADO where id = #{irid}
    </select>
          	
</mapper>
