<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">
    
    <resultMap type="ItemRentado" id="ItemRentadoResult">
        
        <id column="id" property="id"/>
        <result column="fecha" property="fecha"/>
        <result column="fechafinrenta" property="fechafinrenta"/>
        <collection property='Item' ofType='Item' resultMap='ItemDetalleResult'></collection>
        
    </resultMap> 
    
    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
        select * from VI_ITEMRENTADO;
    </select>
          	
</mapper>
