<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">

    <resultMap type="Item" id="ItemResult">
        
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="descripcion" property="descripcion"/>
        <result column="fechalanzamiento" property="fechalanzamiento"/>
        <result column="tarifaxdia" property="tarifaxdia"/>
        <result column="formatorenta" property="formatorenta"/>
        <result column="genero" property="genero"/>
        <association property='tipo' javaType='TipoItem' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.tipoItemResult' columnPrefix='tipoitem_'></association>
        
    </resultMap> 
    
    
    
</mapper>